@model Student 

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
    <div class="row pb-2">
        <h2 class="text-primary">Edit Student</h2>
        <hr />
        </div>
       @* <div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
             <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OtherName"></label>
            <input asp-for="OtherName" class="form-control" />
             <span asp-validation-for="OtherName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
             <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control" />
             <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
             <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PreferredSBU"></label>
           <select asp-for="PreferredSBU" class="form-select" aria-label="Default select example">
              <option selected>Select Sub-Unit</option>
              <option value="Core Banking">Core Banking</option>
              <option value="ERMS">ERMS</option>
              <option value="Credit360">Credit360</option>
              <option value="Implementation">Implementation</option>
              <option value="DWBI">DWBI</option>
              <option value="MIS">MIS</option>
              <option value="Software Quality Assurance">Software Quality Assurance</option>
              <option value="Project Management">Project Management</option>

            </select>
             <span asp-validation-for="PreferredSBU" class="text-danger"></span>
           @* <input asp-for="PreferredSBU" class="form-control" />*@
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div> 
</form> 

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}

